:root {
  --teal: #5da89b;
  --red: #ef405a;
  --grey: #d0d5d9;
  --poppins: "Poppins", sans-serif;
  --raleway: "Raleway", sans-serif;
}

@-ms-viewport {
  width: device-width;
}

body {
  background: #f0f0f0;
  display: inline-flex;
  width: 100%;
}

/* start of MAIN */
.stripes {
  display: flex;
  width: fit-content;
  position: fixed;
  height: 0%;
  margin-left: calc((100vw - 950px) / 4 - 30px);
}

.stripe-red {
  display: block;
  width: 12px;
  height: 100%;
  background-color: var(--red);
  margin-left: 4px;
  margin-right: 4px;
}

.stripe-teal {
  display: block;
  width: 12px;
  height: 100%;
  background-color: var(--teal);
  margin-left: 4px;
  margin-right: 4px;
}

.stripe-grey {
  display: block;
  width: 12px;
  height: 100%;
  background-color: var(--grey);
  margin-left: 4px;
  margin-right: 4px;
}

.content {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
  padding-left: 25px;
  padding-right: 25px;
}

.warning-background{
  color: black;
  opacity: .4;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 5;
  width: 100vw;
  height: 100vh;
}

.header {
  height: 100vh;
}

.header-name {
  font-family: var(--poppins);
  font-weight: 700;
  font-size: 100px;
  color: black;
  padding-top: calc((100vh - 470px) / 3.75);
  padding-bottom: calc((100vh - 470px) / 8.5);
}

.header-title-container{
  display: flex;
  /* margin-top: calc((100vh - 470px) / 8);
  margin-bottom: calc((100vh - 470px) / 10); */
}

.header-sub-container {
  display: flex;
  align-items: center;
}

.header-photo-img {
  height: 205px;
  width: 205px;
  border-radius: 100px;
  margin-left: 4px;
}

.header-description {
  width: 950px;
  margin-left: 115px;
  font-family: var(--raleway);
  font-weight: 500;
  font-size: 18px;
  color: black;
}

.header-links-container {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-evenly;
  padding-top: calc((100vh - 470px) / 4);
  padding-bottom: calc((100vh - 470px) / 3.25);
}

.header-links-button:hover {
  transform: scale(1.02);
}

.header-links-button {
  width: 180px;
  height: 50px;
  background-color: white;
  /* box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12); */
  box-shadow: 11px 11px 50px #999999;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.header-link {
  all: unset;
  font-family: var(--poppins);
  font-weight: 700;
  font-size: 18px;
  color: black;
}

.header-link:hover {
  all: unset;
  font-family: var(--poppins);
  font-weight: 700;
  font-size: 18px;
  color: black;
}

.header-projects-button {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.header-projects-text {
  font-family: var(--poppins);
  font-weight: 700;
  font-size: 18px;
  color: black;
  margin-left: auto;
  margin-right: auto;
}

.header-projects-img {
  width: 42px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -14px;
}

.project-card-container {
  width: 100%;
  background-color: white;
  box-shadow: 11px 11px 50px #999999;
  /* box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12); */
  margin-bottom: 40px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.project-card-container:hover {
  transform: scale(1.005);
}

.project-card-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.project-card-img {
  height: 200px;
  float: left;
  position: relative;
}

.project-card-text {
  margin-left: 35px;
  margin-right: 20px;
  position: relative;
}

.project-card-title {
  font-family: var(--poppins);
  font-weight: 700;
  font-size: 18px;
  color: black;
}

.project-card-subjects {
  font-family: var(--raleway);
  font-weight: 700;
  font-size: 16px;
  color: black;
}

.project-card-detail {
  font-family: var(--raleway);
  font-weight: 400;
  font-size: 16px;
  color: black;
}

.spacer {
  display: block;
  position: relative;
  height: 100px;
}

@media only screen and (max-width: 600px) {
  .content {
    max-width: 90vw;
    padding:  0px;
  }
  .header{
    display: flex;
    flex-direction: column;
    /* padding-left: 0px;
    padding-right: 0px; */
  }
  .header-title-container{
    display: flex;
    margin-top: calc(2*(89vh - 40vw - 335px) / 10);
    margin-bottom: calc((89vh - 40vw - 335px) / 10);
  }
  .header-name {
    font-family: var(--poppins);
    font-weight: 700;
    font-size: 10vw;
    color: black;
    line-height: 1;
    padding-top: 0;
    padding-bottom: 0;
  }
  .header-sub-container {
    display: flex;
    flex-direction: column;
  }
  .header-photo-img {
    height: 40vw;
    width: 40vw;
    border-radius: 100px;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  .header-link{
    font-size: 16px;
  }
  .header-projects-text{
    font-size: 16px;
  }
  .header-description {
    margin-top: calc((89vh - 40vw - 335px) / 10);
    font-size: 13px;
    width: 100%;
    margin-left: 0px;
    margin-bottom: 0px;
  }
  .header-links-container {
    flex-direction: column;
    padding-top: 0;
    margin-top: calc((89vh - 40vw - 335px) / 10);
    margin-bottom: calc(3*(89vh - 40vw - 335px) / 10);
    padding-bottom: 0;
  }
  .header-links-button{
    margin-top: calc((89vh - 40vw - 335px) / 10);
    height: 45px;
  }
  .stripes-title-main{
    display: flex;
    height: 0px;
    width: fit-content;
    position: relative;
    margin-top: 4px;
    margin-right: 10px;
  }
  .stripe-red{
    width: 8px;
    margin-left: 3px;
    margin-right: 3px;
  }
  .stripe-grey{
    width: 8px;
    margin-left: 3px;
    margin-right: 3px;
  }
  .stripe-teal{
    width: 8px;
    margin-left: 3px;
    margin-right: 3px;
  }

  .project-card-content{
    flex-direction: column;
  }
  .project-card-title{
    font-size: 16px;
  }
  .project-card-subjects{
    font-size: 13px;
  }
  .project-card-detail{
    font-size: 13px;
  }
  .project-card-text{
    margin: 15px;
  }
  .project-card-img{
    height: auto;
    width: 100%;
  }
}

/* end of MAIN */

/* start of PROJECTS */

/* start of CYCLONE */

h1{
    font-family: var(--poppins);
    font-weight: 700;
    font-size: 45px;
    color: black;
    margin-left: 10px;
    height: fit-content;
}

h2{
    font-family: var(--poppins);
    font-weight: 700;
    font-size: 18px;
    color: black;
}

p{
    font-family: var(--raleway);
    font-weight: 400;
    font-size: 16px;
    color: black;
    text-align: justify;
}

a{
    all: unset;
    font-family: var(--raleway);
    font-weight: 700;
    font-size: 16px;
    color: black;
    cursor: pointer;
}
a:hover{
    all: unset;
    font-family: var(--raleway);
    font-weight: 700;
    font-size: 16px;
    color: black;
    cursor: pointer;
}


.project-heading{
    display: flex;
    height: fit-content;
}

.project-nav-wrapper{
  display: block;
  margin: 10px -10px auto auto;
  min-width: 154.41px;
}

.project-nav-left{
  width: 26px;
  transform: rotate(90deg);
  cursor: pointer;
}

.project-nav-right{
  width: 26px;
  transform: rotate(-90deg);
  cursor: pointer;
}

.project-nav-menu{
  height: 18px;
  margin-left: 35px;
  margin-right: 35px;
  cursor: pointer;
}

.stripes-title {
  display: flex;
  width: fit-content;
  position: relative;
  height: 0px;
  margin-top: 8px
}

@media only screen and (min-width: 601px){
  .stripes-title-main{
    display: none;
  }
  .stripe-red {
    width: 12px;
    margin-left: 4px;
    margin-right: 4px;
  }
  .stripe-teal {
    width: 12px;
    margin-left: 4px;
    margin-right: 4px;
  }
  .stripe-grey {
    width: 12px;
    margin-left: 4px;
    margin-right: 4px;
  }
}
  
.stripe-horizontal-red {
  display: block;
  height: 12px;
  width: 100%;
  background-color: var(--red);
  margin-top: 4px;
  margin-bottom: 4px;
}

.stripe-horizontal-teal {
  display: block;
  height: 12px;
  width: 100%;
  background-color: var(--teal);
  margin-top: 4px;
  margin-bottom: 4px;
}

.stripe-horizontal-grey {
  display: block;
  height: 12px;
  width: 100%;
  background-color: var(--grey);
  margin-top: 4px;
  margin-bottom: 4px;
}

.project-main-img{
  width: 100%;
  height: 400px;
  margin-top: 20px;
  margin-bottom: 20px;
  object-fit: cover;
}

.project-video-container{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
}

.project-video-text{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
}

.project-paragraph{
  margin-top: 25px;
}

.project-paragraph-split{
    display: flex;
}

.project-text-split{
    width: 50%;
}

.project-img-split{
    margin-left: auto;
    margin-right: 0px;
    align-self: center;

}

#curler-section-view{
    width: 35%;
    margin-top: -37px;
}

.project-img-mid{
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#curler-main-img{
    object-position: 0% 17%
}

.project-triple-split{
  display: flex;
  justify-content: space-between;
}

.project-img-triple-vert{
  height: 400px;
  align-self: center;

}
.project-img-triple-hor{
  width: 35%;
  align-self: center;
}

.project-final-img{
  width: 100%;
  margin-top: 25px;
  margin-bottom: 25px;
}

/* end of CYCLONE */

/* start of COLORIZMO */

#colorizmo-main-img{
    object-position: 0% 45%
}

/* end of COLORIZMO */

/* start of RACING */
#racing-main-img{
  object-position: 0% 58%
}
/* end of RACING */

/* end of PROJECTS */